<div class="register">
	<form class="d-b ta-c" name="form">
		<div class="form-line ta-l p-r">
			<span class="icon account va-t d-ib"></span>
			<input class="d-ib" type="text" placeholder="请输入手机号" name="phone" ng-model="user.phone" validator="required,phone" />
		</div>	
		<div class="form-line ta-l p-r">
			<span class="icon lock va-t d-ib"></span>
			<input class="d-ib" type="password" placeholder="请设置6位以上的密码" name="password" ng-model="user.password" validator="required,password" />
		</div>
		 <div class="message-wrap ta-l p-r">
		 	<input validator="required" ng-model="user.code"  class="message-box" type="password" placeholder="短信验证码" />
		 	<span class="message f-r {{registerCon.time?'disabled':''}}" ng-click="registerCon.time?1==1:registerCon.send()" ng-bind="registerCon.time?registerCon.time:'发送短信'">发送短信</span>
		 	<div class="clear"></div>
		 </div>
		<button class="login-btn" ui-sref="login">登录</button>
		<button class="register-btn" validation-submit="form" ng-click="registerCon.submit()">注册</button>
	</form>
</div>